---
import Layout from '../layouts/Layout.astro';
import PDFViewer from '../components/PDFViewer.tsx';
---

<Layout title="Rubem | CV">
    <h1 class="text-3xl font-bold m-0 mt-5 no-underline">Rubem Neto</h1>
    <p class="mb-6 text-[#c96442]">Software Engineering Student</p>
    <div class="prose prose-lg">
			<PDFViewer client:load/>
    </div>
</Layout>
