<header class="pt-6 px-6 pb-2">
  <nav class="flex justify-between text-sm text-white border-b pb-1 border-dashed">
    <div class="flex gap-6">
      <a href="/" class="text-white hover:text-[#c96442] no-underline">Home</a>
      <a href="/about-me" class="text-white hover:text-[#c96442] no-underline">About</a>
      <a href="/contact" class="text-white hover:text-[#c96442] no-underline">Contact</a>
      <a href="/playground" class="text-white hover:text-[#c96442] no-underline">Playground</a>
      <a href="/cv" class="text-white hover:text-[#c96442] no-underline">CV</a>
    </div>
    <div class="hidden lg:block">
      Rubem Neto
    </div>
  </nav>
</header>
